@inherits UmbracoTemplatePage

@using RJP.MultiUrlPicker.Models

@{
    Layout = "PropertyEditorLayout.cshtml";
}
@section BodySection {

    <h2>Typed</h2>  
    @{
        var multiUrlPicker = Model.Content.GetPropertyValue<MultiUrls>("multiUrlPicker");

        <pre>@Model.Content.GetProperty("multiUrlPicker").DataValue</pre>
        
        if (multiUrlPicker.Any())
        {
            <ul>
                @foreach (var item in multiUrlPicker)
                {
                    <li><a href="@item.Url" target="@item.Target">@item.Name</a></li>
                }
            </ul>
        }
    }
   
    <h2>Dynamic</h2>
    @{
        var multiUrlPickerDyn = CurrentPage.multiUrlPicker;

        if (multiUrlPickerDyn.Any())
        {
            <ul>
                @foreach (var item in multiUrlPickerDyn)
                {
                    <li><a href="@item.Url" target="@item.Target">@item.Name</a></li>
                }
            </ul>
        }
    }   
    

}